body{
    margin: 0 3%;
    background-color: #0c1017; 

}
*{
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
html{
    scrollbar-color: rgb(19, 25, 36) #010508;
    scrollbar-width: thin;
}
.grid{
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.task-container{
    overflow-y: hidden;
    overflow-x: hidden;
   min-width: 220px;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-bottom: 50px;
}
.calendar-container{
  
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: start;
}
.tasks{
    overflow-y: auto;  
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: #171b23;
    height: 65%;
    width: 13vw;
    min-width:190px;
    border-radius: 10px;
    border: 1px solid rgb(49, 49, 49);
    transition: box-shadow 0.3s ease-in-out; /* Add this line */
}

.tasks:hover {
    box-shadow: 1px 1px 20px 1px rgba(41, 41, 41, 0.75); /* Adjusted shadow */
}
.tasks > div:first-of-type{
   flex: 1;
   margin-top: 40px;
   overflow-y: scroll;
   overflow-x: hidden;
   scrollbar-color: rgb(19, 25, 36) #010508;
  scrollbar-width: thin;
}
#tasksdiv::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 10px; /* Add border radius */
  }
.task-menu{
    margin-top: 10px;
    height: 12%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.task{
    display: flex;
    cursor: grab;
    align-items: center;
    width: 80%;
    
    height: 12%;
    min-height: 60px;
    padding: 0 5%;
    /* background-color: #13181f;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px; */
    border-radius: 15px;
    margin: 20px 10px;
    font-family: sans-serif;
}
.task.dragging {
    opacity: .3;
    cursor: grabbing;
    background-color: #010508;
}



.task:hover{

 background-color: rgba(235, 234, 234, 0.075);
}
.task:hover  span{
    color: white;
}
.task span{
    user-select:text ;
    font-size: 24px;
    color: rgb(192, 191, 191);
    margin: 0;
    padding: 0;
}

.add{
    margin: 10px;
   display:flex;
   align-items: center;
   justify-content: center;
    width: 2.2vw;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    height: 2.2vw;
    border-radius: 10px;
    background-color: rgba(235, 234, 234, 0.103);
    cursor: pointer;
}
.add:hover .plus-sign::after,.add:hover .plus-sign::before{
    background-color: rgb(235, 235, 235);
   
   
}
.plus-sign {
    
    width: 23px;
    height: 2px;
    
  }
  
  .plus-sign:before,
  .plus-sign:after {
    content: '';
    position: absolute;
    width: 23px;
    height: 3px;
    border-radius: 20px;
    background-color: rgb(119, 119, 119);
  }
  
  .plus-sign:before {
    transform: rotate(90deg);
  }
  
  .plus-sign:after {
    transform: rotate(180deg);
  }
  
  .edit{
    width: 50%;
    min-width: 20px; 
    filter: brightness(50%); 
  }
  .add:hover .edit{
    filter: brightness(100%); 
  }
  
  .calendar{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    margin: 30px 12px;
    
    height: 68%;
    min-height: 300px;
    width: 60vw;
    min-width:100px;
   
  }
  .date {
   background-color: #010508;
    border: 1px solid #202020;
    border-radius: 2vh;
    padding: 10px;
    min-width: 100px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.today-date {
    border: 2px solid #b4b4b4 !important;
    background-color: #0105086c;
}
.date div{
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
}
.date_text{
    color: rgb(153, 153, 153);
    font-size: 1.7vw;
    font-family: sans-serif;
}
.day_text{
    color: rgb(153, 153, 153);
    font-size: 1.7vw;
    
    font-family: sans-serif;
}
.date:hover{
    background-color:#0c1017;
    border: 1px solid #797979;
    transform: scale(1.6);
    box-shadow: 0px 0px 8px rgba(134, 134, 134, 0.3);
    z-index: 1;
}
.date:hover .date_text{
    color: white;
}

.day_text{
    align-self: end;
    justify-self: start;
    opacity: 10%;
    font-size: 20px;
    text-align: start;
}
.date:hover .day_text{
    opacity: 1;
}
.week{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    color: white;
}

.prev-month{
    background-color: #01050827;
    border: 1px solid #1b1b1b;
}
.prev-month > div > .date_text{
    color: rgb(112, 112, 112);
}


.calendarcontrol{
    margin-left: 10px;
    justify-self: flex-end;
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 8%;
    width: 80%;
    min-width: 750px;
}
.calendarcontrol div:first-child{
    margin-left: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}
 .today{
 font-family:sans-serif;
 font-size: 20px;
 color: #636363;
 margin-bottom: 10px;
margin-top: 50px;
}
.calendarcontrol div:first-of-type .today:hover{
    color: white;
}
.control{
   width: 150px;
  
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-size: 25px;
    cursor: pointer;
   padding: 10px 0px 50px 80px;
   position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.control div + span{
    color: #414141;
}

.moncon:hover,.yearcon:hover{
    color: rgb(255, 255, 255);

}

.other {
    font-size: 17px;
    color: #0c1017;
    transition: color 0.8s ease; /* Smooth transition for color change */
    opacity: 0; /* Initial opacity */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.control:hover .other {
    color: rgb(78, 78, 78); /* Change color on hover */
    opacity: 0.7; /* Change opacity on hover */
}



.moncon,
.yearcon {
        position: relative;
        margin: 7px 0;
}

    .moncon::after,
    .yearcon::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: rgb(110, 110, 110);
        transition: width 0.3s ease;
    }

    .control:hover .moncon::after {
        width: 100%;
    }

    .control:hover .yearcon::after {
        width: 100%;
    }

    .control div{
        display: flex;
        flex-direction: column;
    }

    /* this bwlow is the selected element */
    .x-sign{
        font-family: Arial, Helvetica, sans-serif;
       color: #afafaf;
        align-self: center;
        width: 100%;
       font-size: 5vh;

    }

    .selected{
       background-color: #171b23 !important;
    }


    .selectedtask {
        background-color: rgba(160, 160, 160, 0.199) !important;
     
      }

    .task-container .task input {
      
        font-family: inherit; /* Ensure font matches the span */
        font-size: inherit;   /* Ensure font size matches the span */
        color: white;         /* White text color */
        background: none;     /* No background */
        border: none;         /* Remove default border */
        border-bottom: 1px solid white; /* White underline */
        outline: none;        /* Remove default outline */
        width: 90%;
        padding: 0;           /* Remove padding */
        margin: 0;            /* Remove margin */
        line-height: inherit; /* Ensure line height matches the span */
        vertical-align: bottom; /* Align input to the bottom to match the span */
    }

    @media(max-height: 750px) {
        .today{
            margin-bottom: -10px;
            position: relative;
        }
    }

    

    